<div class="slot-machine">
    <h1>今日も元気に散歩しよう！！</h1>
    <div class="reels">
        <div class="reel" id="reel1">?</div>
        <div class="reel" id="reel2">?</div>
        <div class="reel" id="reel3">?</div>
    </div>
    <div class="controls">
        <button id="spin-button">（＾-＾）</button>
    </div>
    <div id="result"></div>
</div>